body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Arial',  'BMW Type Web Light';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a202c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.font-bmw-type-web-light { font-family: 'BMW Type Web Light'; }
.font-arial { font-family: 'Arial'; }
